<style>

.nav{
	
	/*
	background-color: #1c3b6d;
		background-image:url("imageLarge/pexels-photo-28301 (1).jpg");
		background-image:
		linear-gradient(
		  to right, 
		#0A141F, #0A141F
		);
		background-color:#206EA1;
		width:100%;
		height: 30px;
		margin-top: -18px;
		font-family: 'Bungee Inline', cursive;
		color: #FFFFFF;
		text-shadow: 2px 2px #ff0000;
		text-align:center;*/
	
}
.header_title h2{
	position:relative;
	font-family: 'Bungee Inline', cursive;
	color:#FFFFFF;
	text-shadow: 0 0 10px red;
	animation: animate 60s infinite linear
}
/*Glowing text: https://www.youtube.com/watch?v=0JEzysYI2xk */
@keyframes animate
{
	0%
	{
		color:#484848;
		text-shadow:none;
	}
	20%
	{
		color:#ffffff;
		text-shadow: 0 0 10px red;
	}
	15%
	{
		color:#fff900;
		text-shadow:0 0 7px #fff900 , 0 0 20px #ff6c00;
	}
}
.top{
	/*IMAGE FROM https://www.pexels.com/search/waterfall/   pexels-photo-24280.jpg*/
	/*Image from http://docs.thememountain.com/html/docs/images/fullscreen-1-example.jpg */
	background-image:url("../imageLarge/fullscreen-1-example.jpg");
	/* Fixed header https://www.youtube.com/watch?v=nMKdHv8X6Fs */
	/*
	position:fixed;
		top:0;
		z-index: 100000;*/
	
	background-color:#2d2c2c;
	width:100%;
	height: 200px;
	margin-top: -18px;
	/*font-family: 'Bungee Inline', cursive;*/
	color: #FFFFFF;
	/*text-shadow: 2px 2px #ff0000;*/
	text-align:center;
	background-size: 100%;
	opacity: 3;
    filter: alpha(opacity=6);
}
div#gallery_title {
	/*background-color:#206EA1;*/
	/*
	background-color:#FF4500;
		font-family: 'Bungee Inline', cursive;
		text-align:center;
		color: #FF4500;*/
	
}
.errors {
	/*background-color:#206EA1;*/
	background-color:#FF0500;
	font-family: 'Bungee Inline', cursive;
	margin:auto;
	text-align:center;
	width: 100%;
	color: #FFFFFF;
}
.errors h2{
	/*background-color:#206EA1;*/
	
	margin:auto;
	text-align:center;
	color: #FFFFFF;
}
.welcome {
	background-color:#FF4500;
	font-family: 'Bungee Inline', cursive;
	margin:auto;
	text-align:center;
	width: 100%;
	color: #FFFFFF;
}
.welcome h2{
	/*background-color:#206EA1;*/
	
	margin:auto;
	text-align:center;
	color: #FFFFFF;
}
.main_container {
	background-color: #ffffff;
	width:830px;
	overflow: auto; 
	margin: auto; 
	border-radius: 3%;
	border-color: #cccccc;
	border: 1px solid #ccc;
}
section{
	
	background-color: #990055;
	height: 400px;
	width:100%;
	text-align:center;
}
div#top_form{
	/*background-image:url("imageLarge/fma_background.jpg");*/
	height:50px;
	font-family: 'Lora', serif;
	text-align:center;
	padding-top: 10px;	
	
}
.imageRow h3 {
   position: absolute; 
   color: #FFFFFF; 
   text-shadow: 2px 2px #A31C63;
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: .1px;  
   bottom: 0; left: 0em;
   vertical-align: bottom;
   font-size:14px;
}
.footer {
	
	margin: auto;
	padding-top:1px;
	/*margin-top: 1px;*/
	height: 50px;
	width:100%;
	font-family: 'Lora', serif;
	text-align:center;
	/*text-indent: 50px;*/
	color:#FFFFFF;
	background-image:
    linear-gradient(
      to right, 
    #34373a, #484C69
    );
}
.footer img{
	
	padding-top:1px;
	padding-right: 7px;
	margin-top: 5px;
	text-align:center;
}
.footer_image{
	padding-top:0px;
	padding-right: 7px;
	color:#FFFFFF;		    
}
.large_image{		
	background: #ffffff;
	overflow: hidden;
	margin: auto;
    
}
.large{
	border: 1px solid #ccc; 	
	margin: auto;
    border-radius:0%;
}
.large_image_div{
	border-radius:0%;
	background: #ffffff;
	padding:.20%;
	font-family: 'Play', sans-serif;
	text-align: center;
	position: relative;
}
input[type=text], select {
    width: 7%;
    padding: 1px 1px;
    margin: 1px 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:40%;    
}

input[type=submit] {
    width: 6%;
    background-color: #ff3300;
    color: white;
    padding: 1px 1px;
    margin: 8px 1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Exo', sans-serif;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 1px;
    width: 20px;
    height:100px;
    margin: center;
    vertical-align: middle;
    font-family: 'Play', sans-serif;
    float: right;
   
}
.cf:before,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
  
}
.cf:after {
	clear:both;
}
.container{
	width:auto;
	height: auto;
	border-radius:0%;
	padding:7px;
    margin: auto;
    background: #ffffff;
    display:inline-block;
    
}
 /*vertical-align: middle;*/
  /*margin-right: 14.25em;  Adjusts for spacing 
	margin-left: auto;
    margin-right: auto
    background: #990055;*/
  
}
title {
  width: auto;
  height: auto;
  background: #cccccc;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  position: relative;
  vertical-align: bottom;
}
.imageRow {
	border-radius:2%;
	background: linear-gradient(
      to right, 
    #554162, #242634
    );
	border-style: solid;
    border-color: #242634;
	text-align: center;
	position: relative;	
}

.imageRow :hover  {
    opacity: .8;
    filter: alpha(opacity=0);
	border:100px;
	font-family: 'Lora', serif;
}
.image_footer  {
	font-family: 'Lora', serif;
}

</style>